.pizza {
    display: flex;
    gap: 3rem;
}
  
  .pizza.img {
    width: 400px;
    aspect-ratio: 1/1;
  }
  
  .pizza div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .pizza span {
    display: block;
    font-size: 1.6rem;
  }
  
  .pizza.sold-out {
    color: #888;
  }
  
  .pizza.sold-out img {
    filter: grayscale();
    opacity: 0.8;
  }